<div class="backgroundImage">
  <div class="bg1">
    <img
      class="img1"
      src="../../assets/one.png"
      alt="Imagee"
      style="height: 180px; width: 344px"
    />
  </div>
  <div class="bg2">
    <img
      class="img2"
      src="../../assets/two.png"
      alt=" image"
      style="height: 247px; width: 176px; background-repeat: no-repeat"
    />
  </div>

  <div class="bg3">
    <img
      class="img3"
      src="../../assets/four.png"
      alt=""
      style="height: 197px; width: 348px; background-repeat: no-repeat"
    />
  </div>

  <div class="bg4">
    <img
      class="img4"
      src="../../assets/three.png"
      alt=""
      style="height: 185px; width: 139px; background-repeat: no-repeat"
    />
  </div>
</div>
