.backgroundImage {
  object-fit: fit;
  background-image: url("../../assets/TaizLarkiyan.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.id1 {
  position: absolute;
  top: 22%;
  left: 25%;

  height: 19%;
  width: 14%;
}

.id1:hover {
  border: 6px solid orange;
  border-radius: 8px;
}

.id2 {
  position: absolute;
  top: 44%;
  left: 65%;

  height: 24%;
  width: 10%;
}

.id2:hover {
  border: 6px solid orange;
  border-radius: 8px;
}

.id3 {
  position: absolute;
  top: 53%;
  left: 17%;

  height: 26%;
  width: 10%;
}

.id3:hover {
  border: 6px solid orange;
  border-radius: 8px;
}

.id4 {
  position: absolute;
  top: 75%;
  left: 76%;

  height: 28%;
  width: 14%;
}

.id4:hover {
  border: 6px solid orange;
  border-radius: 8px;
}
