.backgroundImage {
  overflow: hidden;
  object-fit: fill;
  background-image: url("../../assets/MainBackground.png");
  height: calc(100vh - 60px);
  width: calc(100vw - 1px);
}

.bg1 {
  margin-top: 83px;
  margin-left: 440px;
  object-fit: fill;
  z-index: 100;
  background-repeat: no-repeat;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover {
  border: 12px solid orange;
  border-radius: 4px;
}

.bg2 {
  margin-top: -106px;
  margin-left: 1228px;
  object-fit: fill;
  background-repeat: no-repeat;
  z-index: 200;
}

.bg3 {
  margin-top: -55px;
  margin-left: 240px;
  object-fit: fill;
  background-repeat: no-repeat;

  z-index: 300;
}

.bg4 {
  margin-top: -19px;
  margin-left: 1450px;
  object-fit: fill;

  background-repeat: no-repeat;

  z-index: 400;
}
