<div class="backgroundImage">
  <div class="bg1">
    <img
      class="img1"
      src="../../assets/111.png"
      alt="Imagee"
      style="height: 213px; width: 412px"
    />
  </div>
  <div class="bg2">
    <img
      class="img2"
      src="../../assets/222.png"
      alt=" image"
      style="height: 292px; width: 217px; background-repeat: no-repeat"
    />
  </div>

  <div class="bg3">
    <img
      class="img3"
      src="../../assets/333.png"
      alt=""
      style="height: 237px; width: 422px; background-repeat: no-repeat"
    />
  </div>

  <div class="bg4">
    <img
      class="img4"
      src="../../assets/444.png"
      alt=""
      style="height: 222px; width: 200px; background-repeat: no-repeat"
    />
  </div>
</div>
